Package: com.noahlit.msfinstaller
Name: Metasploit Installer
Depends: bigbosshackertools, zlib, iconv, ruby
Version: 1.1
Architecture: iphoneos-arm
Description: A CLI Tool, with an aim to install Metasploit Framework Easily. Run this command to start: "msfinstaller"
Maintainer: noahacks <njl02@outlook.com>
Author: noahacks <njl02@outlook.com>
Section: Security
