Package: com.noahlit.ictrlframework
Name: iCTRL
Depends: python
Version: 1.1.1
Architecture: iphoneos-arm
Description: iCTRL is a penetration testing framework tool for iOS Devices. Developed by Noah Little. Follow me on Twitter @noahacks For updates.
Maintainer: noahacks <njl02@outlook.com>
Author: noahacks <njl02@outlook.com>
Section: Security
