Package: com.noahlit.tcleaner
Name: TCleaner
Depends: bc
Version: 1.1.2b2
Architecture: iphoneos-arm
Description: TCleaner is a iOS cleaning tool, it is a CLI tool. It could be dangerous if you don't know what you're doing. I AM NOT RESPONSIBLE FOR ANY HARM CAUSED TO YOU'RE HEALTH OR DEVICE. Created by @noahacks on Twitter.
Maintainer: noahacks <njl02@outlook.com>
Author: noahacks <njl02@outlook.com>
Section: Utilities
