Package: com.noah.sshd
Name: sshd
Depends: 
Architecture: iphoneos-arm
Description: enable and disable sshd daemon.
Maintainer: Noah Little <njl02@outlook.com>
Author: Noah Little <njl02@outlook.com>
Section: Utilities
Version: 1.0
Installed-Size: 216
